.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    width: 100%;
}

.paginate-buttons {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #F68B1E;
    color: #F68B1E;
}

@media (max-width: 350px) {
    .paginate-buttons {
        height: 30px;
        width: 30px;
    }
}

.paginate-buttons:hover {
    background-color: #181818;
}

.active-page {
    background-color: #F68B1E;
    border: 2px solid #F68B1E;
    color: white;
}

.active-page:hover {
    background-color: #F68B1E;
}

/* Swiper */

.swiper {
    overflow-y: visible !important;
    width: 240px;
}

@media (min-width: 1250px) {
  .swiper {
    width: 1240px;
  }
}

@media (min-width: 1000px) and (max-width: 1249px) {
  .swiper {
    width: 990px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .swiper {
    width: 740px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .swiper {
    width: 490px;
  }
}

.swiper-slide {
  width: 240px !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(24, 24, 24, 0.6);
  padding: 50px 30px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: orange;
}

.swiper-button-disabled:hover {
  cursor: not-allowed !important;
}