.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    width: 100%;
}

.paginate-buttons {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #F68B1E;
    color: #F68B1E;
}

@media (max-width: 350px) {
    .paginate-buttons {
        height: 30px;
        width: 30px;
    }
}

.paginate-buttons:hover {
    background-color: #181818;
}

.active-page {
    background-color: #F68B1E;
    border: 2px solid #F68B1E;
    color: white;
}

.active-page:hover {
    background-color: #F68B1E;
}

/* Swiper */

.swiper-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.25rem/* 36px */;
  padding-left: 2.25rem/* 36px */;
}

@media(max-width: 529px) {
.swiper-container {
      max-width: 300px;
}
}

@media (min-width: 530px) {
  .swiper-container {
      max-width: 530px;
  }
}
@media (min-width: 640px) {
  .swiper-container {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .swiper-container {
      max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .swiper-container {
      max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .swiper-container {
      max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .swiper-container {
      max-width: 1536px;
  }
}

.swiper-button-next,
.swiper-button-prev {
position: absolute;
background-color: rgba(24, 24, 24, 0.6);
padding: 50px 30px;
}

@media(max-width: 768px) {
  .swiper-button-next:not(.show-swiper-buttons .swiper-button-next),
  .swiper-button-prev:not(.show-swiper-buttons .swiper-button-prev) {
    display: none;
  }

  .show-swiper-buttons .swiper-button-next,
  .show-swiper-buttons .swiper-button-prev {
    background-color: transparent;
    padding: 0 20px 0 20px;
  }

}

.swiper-button-next {
right: 0 !important;
}

.swiper-button-prev {
left: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
color: orange;
}